.botui-link a{  
  color: blue;
}
/* width */
.botui::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  .botui ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .botui::-webkit-scrollbar-thumb {
    background: #D6B3E8; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  .botui::-webkit-scrollbar-thumb:hover {
    background: #D6B3E8; 
  }
